parameters:
    level: 9
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
        - tests/bootstrap.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - vendor

includes:
    - phpstan-baseline.neon

